:host {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: #444;
}

:host h1 {
  font-size: 18px;
  border-bottom: solid 2px #CCC;
  margin-bottom: 10px;
  padding-bottom: 4px;
  text-shadow: 0px 1px 0px white;
}

:host #keys-wrapper {
  font-size: 14px;
  text-align: center;
  padding: 9px 5px;
  border-bottom: solid 1px #CCC;
/*  display: none;*/
}

:host.selected #keys-wrapper {
  display: block;
}

:host #keys-wrapper h2 {
  color: #777;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}

:host #keys {
  position: relative;
}

:host .keyConfig {
  text-align: center;
  cursor: move;
  background: #efefef;
  padding-top: 5px;
  -webkit-border-radius: 2px;
  margin-bottom: 10px;
}

:host .keyConfig:last-child {
  margin-bottom: 0px;
}

:host .keyConfig .component-template {
  background: white;
  text-align: left;
  margin-top: 5px;
  border-top: solid 1px #DDD;
}

:host .keyConfig .handle,
:host .keyConfig .delete-component {
  display: none;
}

:host .dataGroup {
  border-bottom: solid 1px #DDD;
  background: -webkit-linear-gradient(#FFF,#EFEFEF);
}

:host .dataGroup .item-fields {
  padding: 10px;
}

:host .dataItem {
    pointer-events: none;
}

:host .dataGroup .dataItem:only-child {
  border: none;
}

:host .dataItem .handle {
  display: none;
}

:host .dataItem .delete-component {
  display: none;
}

:host .deleteItem, :host .editItem, :host .addToItem {
  display: inline-block;
  padding: 4px 0px 4px 0px !important;
  width: 80px;
  background: #BBB;
  color: white;
  margin: 0px 5px 10px 3px;
  cursor: pointer;
  -webkit-border-radius: 2px;

}

:host .editItem {
  background: #358CCE;
  border-bottom: solid 2px #1e5e8f;
  text-shadow: 0px -1px 0px #1e5e8f;
}

:host .deleteItem {
  background: #d75342;
  border-bottom: solid 2px #9c291a;
  text-shadow: 0px -1px 0px #9c291a;
}

:host .addToItem {
  background: #84c147;
}

:host #datascope {
  text-align: center;
  padding-bottom: 5px;
}

:host .item-actions {
  text-align: center;
}

